<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body style="text-align:center" background="https://i.ytimg.com/vi/TyauNrbnmVo/maxresdefault.jpg">
    <div style="width:400px; margin:0 auto;">
        <!-- input -->
        <form method="POST">
            <h1>How Satisfied Are You With Your Current Job As A Coder</h1>
            <!--
            <input type="radio" name="gender" value="Male">Male<br>
            <input type="radio" name="gender" value="Female">Female<br>
            -->
            <!--age-->
            <p>What's your age?</p>
            <input type="radio" name="age" value="age7">Under 18 yo <br>
            <input type="radio" name="age" value="age1">18 - 24 yo <br>
            <input type="radio" name="age" value="age2">25 - 34 yo <br>
            <input type="radio" name="age" value="age3">35 - 44 yo <br>
            <input type="radio" name="age" value="age4">45 - 54 yo <br>
            <input type="radio" name="age" value="age5">55 - 64 yo <br>
            <input type="radio" name="age" value="age6">65 or older <br>

            <br>
            <!--gender-->
            <p>What's your gender?</p>
            <input type="radio" name="gender" value="gender1">Female <br>
            <input type="radio" name="gender" value="gender2">Male <br>
            <input type="radio" name="gender" value="gender3">Non Binary <br>

            <br>
            <!--hobby-->
            <p>Do you code as a hobby?</p>
            <input type="radio" name="hobby" value="hobby1">Yes <br>
            <input type="radio" name="hobby" value="hobby2">No <br>

            <br>
            <!--hour comp-->
            <p>Your time spent in front of the computer a day?</p>
            <input type="radio" name="hourComp" value="hourComp4">Less than 1 hour <br>
            <input type="radio" name="hourComp" value="hourComp1">Around 1 - 4 hours <br>
            <input type="radio" name="hourComp" value="hourComp2">Around 5 - 8 hours <br>
            <input type="radio" name="hourComp" value="hourComp3">Around 9 - 12 hours <br>
            <input type="radio" name="hourComp" value="hourComp5">More than 12 hours <br>

            <br>
            <!--hour outside-->
            <p>Your time spent outside your room or office?</p>
            <input type="radio" name="hourOut" value="hourOut4">Less than 30 minutes <br>
            <input type="radio" name="hourOut" value="hourOut3">Around 30 - 50 minutes <br>
            <input type="radio" name="hourOut" value="hourOut1">Around 1 - 2 hours <br>
            <input type="radio" name="hourOut" value="hourOut2">Around 3 - 4 hours <br>
            <input type="radio" name="hourOut" value="hourOut5">More than 4 hours <br>

            <br>
            <!--years coding-->
            <p>How long you have code?</p>
            <input type="radio" name="yearsCoding" value="years1">Around 0 - 2 years <br>
            <input type="radio" name="yearsCoding" value="years3">Around 2 - 5 years <br>
            <input type="radio" name="yearsCoding" value="years4">Around 5 - 10 years <br>
            <input type="radio" name="yearsCoding" value="years2">More than 10 years <br>

            <br>
            <!--time productive-->
            <p>After join new work environment, how long you start fully productive and contributing your code to the team?</p>
            <input type="radio" name="timeProductive" value="productive1">Less than one month <br>
            <input type="radio" name="timeProductive" value="productive2">Around 1 - 3 months <br>
            <input type="radio" name="timeProductive" value="productive3">Around 3 - 6 months <br>
            <input type="radio" name="timeProductive" value="productive4">More than 6 months <br>

            <br>
            <!--exercise-->
            <p>In a typical week, how many times do you exercise?</p>
            <input type="radio" name="exercise" value="exercise1">1 - 2 times a week <br>
            <input type="radio" name="exercise" value="exercise2">3 - 4 times a week <br>
            <input type="radio" name="exercise" value="exercise3">Daily <br>
            <input type="radio" name="exercise" value="exercise4">Rarely do any <br>

            <!--employment-->
            <p>Current employment status</p>
            <input type="radio" name="employment" value="employment1">Fulltime employment<br>
            <input type="radio" name="employment" value="employment2">Part-time employment<br> 
            
            <p>Input your name:</p>
            <input type="text" name="aaaaa"/><br>
            <br>

            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>